<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="jsonSrc" value="https://jsonplaceholder.typicode.com/users"/>
      <add key="file" value="C:\Users\FRABASCO\Desktop\ArchivoCSV.csv"/>
    </appSettings>
</configuration>